= image_tag("star.png", alt: "star", title: t('recipes.average'))
- if @recipe.average > 0
    = " #{@recipe.average} (" + t('recipes.marks') + "  - #{@recipe.marks})"
- else
    = t('recipes.no_marks')