<p id="notice"><%= notice %></p>

<p>
	<strong>Caption:</strong>
	<%= @ingridient.caption %>
</p>

<p>
	<strong>Name path:</strong>
	<%= @ingridient.name_path %>
</p>

<p>
	<strong>Name:</strong>
	<%= @ingridient.name %>
</p>

<%= link_to 'Edit', edit_ingridient_path(@ingridient) %> |
<%= link_to 'Back', ingridients_path %>
