<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1>Новый рецепт</h1>
      <%= simple_form_for @recipe do |f| %>
        <% if @recipe.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
            <ul>
              <% @recipe.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.input :name, label: 'Название рецепта' %>
        <div class="col-xs-6">
          <%= f.association :category, label: 'Категория', label_method: :caption, value_method: :id, include_blank: false %>
        </div>
        <div class="col-xs-6">
          <%= f.association :country, label: 'Национальня кухня', label_method: :caption, value_method: :id, include_blank: false %>
        </div>
        <%= f.simple_fields_for :line_ingrids do |y| %>
          <div class="col-xs-5">
            <%= y.association :ingridient, collection: Ingridient.order('name').all, label: 'Ингридиент', label_method: :name, value_method: :id, include_blank: false %>
          </div>
          <div class="col-xs-3">
            <%= y.input :quantity, label: 'Кол-во' %>
          </div>
          <div class="col-xs-3">
            <%= y.association :measure, label: 'Мера', label_method: :name, value_method: :id, include_blank: false %>
          </div>
        <% end %>
        <%= f.input :caption, label: 'Подробное описание' %>
        <%= f.input :steps, label: 'Рецепт приготовления' %>
        <%= f.file_field :image %><br />
        <%= f.hidden_field :user_id, value: "#{current_user.id}" %>
        <%= f.hidden_field :visible, as: :boolean, value: false %>
        <div class="actions">
          <%= f.button :submit, class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>