.container
  .row
    .col-md-2.left-nav
      %h2 Навигация по рецептам
      %ul.categories
        Категории
        - Category.all.each do |cat|
          %li= link_to cat.caption, '/catalog/category/'+cat.name
      %ul.categories
        Национальные кухни
        - Country.order('caption').all.each do |kitchen|
          %li= link_to kitchen.caption, '/catalog/kitchen/'+kitchen.name
    .col-md-8.col-md-offset-1
      %h1 Новый рецепт
      = simple_form_for @recipe do |f|
        .col-xs-12
          = f.input :name, label: 'Название рецепта'
        .col-xs-12
          = f.simple_fields_for :line_ingrids do |y|
            .ingrid
              .col-xs-5
                = y.association :ingridient, collection: Ingridient.order('name').all, label: 'Ингридиент', label_method: :name, value_method: :id
              .col-xs-3
                = y.input :quantity, label: 'Кол-во', input_html: { min: 1 }
              .col-xs-3
                = y.association :measure, label: 'Мера', label_method: :name, value_method: :id
        .col-xs-12
          %p= link_to 'Добавить игредиент', '', :class => 'duplicate btn btn-success'
        .col-xs-6
          = f.association :category, label: 'Категория', label_method: :caption, value_method: :id, include_blank: false
        .col-xs-6
          = f.association :country, collection: Country.order('caption').all, label: 'Национальня кухня', label_method: :caption, value_method: :id, include_blank: false
        .col-xs-6
          = f.input :prepare, label: 'Время приготовления', placeholder: 'Время приготовления в минутах', input_html: { min: 1 }
        .col-xs-6
          = f.input :portions, label: 'Количество порций', input_html: { min: 1 }
        .col-xs-12
          = f.input :caption, label: 'Описание рецепта', placeholder: 'Кратко опишите блюдо, которое получится'
        .col-xs-12
          = f.input :steps, label: 'Рецепт приготовления', placeholder: 'Подробное пошаговое руководство по приготовлению блюда'
        .col-xs-12
          %p= f.file_field :image, label: 'Изображение'
        = f.hidden_field :user_id, value: "#{current_user.id}"
        = f.hidden_field :visible, as: :boolean, value: false
        .col-xs-12
          .actions
            = f.button :submit, class: "btn btn-success", value: 'Создать рецепт'