<p id="notice"><%= notice %></p>

<p>
  <strong>Название</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Название в URL</strong>
  <%= @recipe.path_name %>
</p>

<p>
  <strong>Категория</strong>
  <%= @recipe.category_id %>
</p>

<p>
  <strong>Национальная кухня</strong>
  <%= @recipe.country_id %>
</p>

<p>
  <strong>Путь к фотографии</strong>
  <%= @recipe.photo %>
</p>

<p>
  <strong>Описание</strong>
  <%= @recipe.caption %>
</p>

<p>
  <strong>Рецепт</strong>
  <%= @recipe.steps %>
</p>

<p>
  <strong>Пользователь</strong>
  <%= @recipe.user_id %>
</p>

<p>
  <strong>Проверено?</strong>
  <%= @recipe.visible %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
