.container
    %h1 Администрирование
    %p= link_to 'Рецепты', recipes_path, class: 'btn btn-success'
    %p= link_to 'Ингредиенты', ingridients_path, class: 'btn btn-success'
    %p= link_to 'Страны', countries_path, class: 'btn btn-success'
    %p= link_to 'Категории', categories_path, class: 'btn btn-success'
    %p= link_to 'Меры', measures_path, class: 'btn btn-success'