.modal.fade.in#login
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
				%h2.modal-title Авторизация на сайте
			= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
				.modal-body
					.col-md-7
						= f.input :email, required: true, autofocus: true, label: 'Электронная почта'
					.col-md-7
						= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable), label: 'Пароль'
					.clearfix
					%div
						= f.input :remember_me, as: :boolean, label: 'Запомнить' if devise_mapping.rememberable?
					%br
					%div
						= f.button :submit, "Вход", class: 'btn btn-small btn-success'
				.modal-footer
					%p
						Вход через социальные сети
						= render partial: 'welcome/social'