.modal.fade.in#login
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
				%h3.modal-title Авторизация на сайте
			= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
				.modal-body
					%div
						= f.label :email, value: 'Электронная почта'
						%br
						= f.email_field :email, autofocus: true
					%div
						= f.label :password, value: 'Пароль'
						%br
						= f.password_field :password
					- if devise_mapping.rememberable?
						%div
							= f.check_box :remember_me
							= f.label :remember_me
					%br
					%div
						= f.submit "Вход", class: 'btn btn-small btn-success'
				.modal-footer
					%p
						Вход через социальные сети
						= link_to image_tag('social-vkontakte.jpg', class: 'social', alt: 'Вход через ВКонтакте'), user_omniauth_authorize_path(:vkontakte), title: 'Вход через ВКонтакте'
						= link_to image_tag('social-facebook.jpg', class: 'social', alt: 'Вход через Facebook'), user_omniauth_authorize_path(:facebook), title: 'Вход через Facebook'
					= #render "devise/shared/links"