.modal.fade.in#sign_up
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
				%h3.modal-title Регистрация на сайте
			= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
				.modal-body
					= devise_error_messages!
					%div
						= f.label :email, value: 'Электронная почта'
						%br
						= f.email_field :email, autofocus: true
					%div
						= f.label :password, value: 'Пароль'
						%br
						= f.password_field :password
					%div
						= f.label :password_confirmation, value: 'Подтверждение пароля'
						%br
						= f.password_field :password_confirmation
					%br
					%div
						= f.submit "Зарегистрироваться", class: 'btn btn-small btn-success'