= link_to image_tag('social-vkontakte.jpg', class: 'social', alt: 'Вход через ВКонтакте'), user_omniauth_authorize_path(:vkontakte), title: 'Вход через ВКонтакте'
= link_to image_tag('social-facebook.jpg', class: 'social', alt: 'Вход через Facebook'), user_omniauth_authorize_path(:facebook), title: 'Вход через Facebook'
= link_to image_tag('social-ok.jpg', class: 'social', alt: 'Вход через Одноклассники'), user_omniauth_authorize_path(:odnoklassniki), title: 'Вход через Одноклассники'
= link_to image_tag('social-twitter.jpg', class: 'social', alt: 'Вход через Twitter'), user_omniauth_authorize_path(:twitter), title: 'Вход через Twitter'
= link_to image_tag('social-instagram.jpg', class: 'social', alt: 'Вход через Instagram'), user_omniauth_authorize_path(:instagram), title: 'Вход через Instagram'
= link_to image_tag('social-github.jpg', class: 'social', alt: 'Вход через Github'), user_omniauth_authorize_path(:github), title: 'Вход через Github'
= link_to image_tag('social-yandex.jpg', class: 'social', alt: 'Вход через Яндекс'), user_omniauth_authorize_path(:yandex), title: 'Вход через Яндекс'
= #link_to image_tag('social-google.jpg', class: 'social', alt: 'Вход через Google'), user_omniauth_authorize_path(:google_oauth2), title: 'Вход через Google'
= link_to image_tag('social-linkedin.jpg', class: 'social', alt: 'Вход через LinkedIn'), user_omniauth_authorize_path(:linkedin), title: 'Вход через LinkedIn'