= link_to image_tag('social-vkontakte.jpg', class: 'social', alt: t('auth.vk')), user_omniauth_authorize_path(:vkontakte), title: t('auth.vk')
= link_to image_tag('social-facebook.jpg', class: 'social', alt: t('auth.fb')), user_omniauth_authorize_path(:facebook), title: t('auth.fb')
= link_to image_tag('social-ok.jpg', class: 'social', alt: t('auth.ok')), user_omniauth_authorize_path(:odnoklassniki), title: t('auth.ok')
= link_to image_tag('social-twitter.jpg', class: 'social', alt: t('auth.twitter')), user_omniauth_authorize_path(:twitter), title: t('auth.twitter')
= link_to image_tag('social-instagram.jpg', class: 'social', alt: t('auth.inst')), user_omniauth_authorize_path(:instagram), title: t('auth.inst')
= link_to image_tag('social-github.jpg', class: 'social', alt: t('auth.github')), user_omniauth_authorize_path(:github), title: t('auth.github')
= link_to image_tag('social-yandex.jpg', class: 'social', alt: t('auth.yandex')), user_omniauth_authorize_path(:yandex), title: t('auth.yandex')
= #link_to image_tag('social-google.jpg', class: 'social', alt: 'Вход через Google'), user_omniauth_authorize_path(:google_oauth2), title: 'Вход через Google'
= link_to image_tag('social-linkedin.jpg', class: 'social', alt: t('auth.li')), user_omniauth_authorize_path(:linkedin), title: t('auth.li')