= render "catalog/navs"
.container.catalog
	.row
		= render "catalog/add_recipe"
		.col-sm-10.col-md-6.col-sm-offset-1
			%h2 Рецептурная корзина
			%table.table#basket
				- @cart.positions.each do |position|
					%tr
						%td#name
							%p= "#{position.recipe.name} (порций - #{position.recipe.portions})"
						%td.quantity{id: "quantity-#{position.id}"}
							%p= position.quantity
						%td
							#minus= button_to "-", minus_path(position), class: "btn", remote: true
							#plus= button_to "+", plus_path(position), class: "btn", remote: true
			- if @cart.positions.size == 0
				%p На данный момент в рецептурной корзине нет рецептов
			- else
				%p= link_to "Расчет ингредиентов", basket_path, class: "btn btn-success"
				%p= button_to "Очистить корзину", @cart, class: "btn btn-danger", method: :delete, data: { confirm: "Вы уверены?" }