= render 'welcome/search_modal'
= render "catalog/navs"
.container.catalog
    .row
        = render "catalog/add_recipe"
        .col-sm-10.col-md-6.col-sm-offset-1
            %h2= t('cart.h2')
            %table.table#basket
                - @cart.positions.includes(:recipe).each do |position|
                    %tr{id: "position_#{position.id}"}
                        %td#name
                            %p= "#{position.recipe.name} (" + t('cart.portions') + " - #{position.recipe.portions})"
                        %td.quantity{id: "quantity-#{position.id}"}
                            %p= position.quantity
                        %td
                            #minus= button_to "-", minus_path(position.id), class: "btn", remote: true
                            #plus= button_to "+", plus_path(position.id), class: "btn", remote: true
                            #destroy= button_to "x", destroy_path(position.id), class: "btn", remote: true
            - if @cart.positions.size == 0
                %p= t('cart.empty')
            - else
                #empty_cart
                    %p= link_to t('cart.summ'), basket_path, class: "btn btn-success"
                    %p= button_to t('cart.destroy'), @cart, class: "btn btn-danger", method: :delete, data: { confirm: t('cart.confirm')}