= render "catalog/navs"
.container
	.row
		= render "catalog/add_recipe"
		.col-md-10
			%h2 Рецептурная корзина
			%ul#basket
				- @cart.positions.each do |position|
					%li
						.row
							.col-xs-6.col-sm-3.col-lg-2#name
								%p= "#{position.recipe.name} (#{position.recipe.portions} порций)"
							.col-xs-1#quantity
								%p= position.quantity
							.col-xs-4.col-sm-2.col-lg-2
								#minus= button_to "-", minus_path(position), class: "btn", remote: true
								#plus= button_to "+", plus_path(position), class: "btn", remote: true
						- "#{position.recipe.name} (#{position.recipe.portions} порций), количество - #{position.quantity}"
			- if @cart.positions.size == 0
				%p На данный момент в продуктовой корзине нет рецептов
			- else
				%p= link_to "Расчет ингредиентов", basket_path, class: "btn btn-success"
				%p= button_to "Очистить корзину", @cart, class: "btn btn-danger", method: :delete, data: { confirm: "Вы уверены?" }