= render partial: "navs"
.container
  .row
    = render partial: "add_recipe"
    .col-md-10
      %h2= @h2
      - @recipes.each do |recipe|
        .col-md-6.recipe_block
          .row
            .col-md-4
              = image_tag recipe.image.normal, class: "img-responsive", alt: recipe.name
            .col-md-8
              %h3= link_to recipe.name, '/catalog/show/'+recipe.path_name
              %p= link_to recipe.category.caption, '/catalog/category/'+recipe.category.name
              %p= link_to recipe.country.caption + " кухня", '/catalog/kitchen/'+recipe.country.name
              %p= "Время приготовления (минут) - #{recipe.prepare}"
              %p= "Количество порций - #{recipe.portions}"
          .row
            .col-xs-12
              %h3 Краткое описание
              %p= recipe.caption
  