= render "navs"
.container
	.row
		= render "add_recipe"
		.col-md-10
			%h2.head_h2= @h2
			- count = 0
			- @recipes.each do |recipe|
				- @recipe = recipe # объект для вычисления средней оценки
				.col-md-6.recipe_block
					.row
						.col-sm-6.col-md-5.col-lg-6
							= image_tag recipe.image.normal, class: "img-responsive", alt: recipe.name
						.col-sm-6.col-md-7.col-lg-6
							%h3= link_to recipe.name, '/catalog/show/'+recipe.path_name
							%p= link_to "Категория - " + recipe.category.caption, type_path(recipe.category.name)
							%p= link_to recipe.country.caption + " кухня", kitchen_path(recipe.country.name)
							%p= render "grades/average"
							%p= "Время приготовления - #{recipe.prepare} минут"
							%p= "Количество порций - #{recipe.portions}"
					.row
						.col-sm-12
							%h4 Краткое описание
							%p= recipe.caption
					.row
						.col-xs-12
							- if current_user
								%p= button_to "В продуктовую корзину", positions_path(recipe_id: recipe), class: "btn btn-success", remote: true
							- else
								%p= button_to "В продуктовую корзину", positions_path(recipe_id: recipe), class: "btn btn-success disabled", remote: true
				- count += 1
				- if count.even?
					.clearfix
			- if count == 0
				%p В этой категории нет рецептов
