= render 'welcome/search_modal'
= render "navs"
.container.catalog
    .row
        = render "add_recipe"
        .col-md-10
            %h2.head_h2= @h2
            .paginator
                = paginate @recipes, window: 3, outer_window: 1
            - count = 0
            - @recipes.each do |recipe|
                - @recipe = recipe # объект для вычисления средней оценки
                .col-md-6.recipe_block
                    .row
                        .col-xs-12
                            %h3= link_to recipe.short_name, show_path(recipe.path_name)
                        .col-sm-6.col-md-7.col-sm-offset-1.col-md-offset-0
                            = image_tag recipe.image, class: "img-responsive recipe_img", alt: recipe.name
                            - if current_user
                                %p= button_to t('recipes.add'), positions_path(recipe_id: recipe), class: "btn btn-success", remote: true
                            - else
                                %p= button_to t('recipes.add'), positions_path(recipe_id: recipe), class: "btn btn-success disabled", remote: true
                        .col-sm-4.col-md-5
                            - name = @recipe.user.email[/[^@]+/]
                            - name.split(".").map {|n| n.capitalize }.join(" ")
                            %p= t('recipes.author') + " - #{name}"
                            %p= link_to recipe.category.caption, type_path(recipe.category.name)
                            %p= link_to recipe.country.caption + " кухня", kitchen_path(recipe.country.name) if recipe.country
                            %p= render "grades/average"
                            %p
                                = image_tag "clock.png", id: "clock", alt: "clock", title: t('recipes.time')
                                = render "time"
                            %p
                                = image_tag "eye.png", id: "eye", alt: "views", title: t('recipes.counts')
                                = @recipe.views
                - count += 1
                - if count.even?
                    .clearfix
            - if count == 0
                %p В этой категории нет рецептов
            .paginator
                = paginate @recipes, window: 3, outer_window: 1
            %br
