= render "navs"
.container
	.row
		= render "add_recipe"
		.col-md-10
			%h2= @recipe.name
			.recipe_block
				.row
					.col-sm-6.col-lg-5
						= image_tag @recipe.image, class: "img-responsive recipe_img", alt: @recipe.name
					.col-sm-6
						%p= @recipe.caption
						- name = @recipe.user.email[/[^@]+/]
						- name.split(".").map {|n| n.capitalize }.join(" ")
						%p= "Автор рецепта - #{name}"
						%p= link_to @recipe.category.caption, type_path(@recipe.category.name)
						%p= link_to @recipe.country.caption + " кухня", kitchen_path(@recipe.country.name) if @recipe.country
						- if current_user
							.stars_block
								.row
									.col-xs-12
										- if @current_grade
											%span Вы уже оценили рецепт
										- else
											%span#Rate
												Оцените рецепт
												%p= link_to image_tag("star-empty.png", id: "star_1", alt: "1"), grading_path(1,@recipe.id), remote: true
												%p= link_to image_tag("star-empty.png", id: "star_2", alt: "2"), grading_path(2,@recipe.id), remote: true
												%p= link_to image_tag("star-empty.png", id: "star_3", alt: "3"), grading_path(3,@recipe.id), remote: true
												%p= link_to image_tag("star-empty.png", id: "star_4", alt: "4"), grading_path(4,@recipe.id), remote: true
												%p= link_to image_tag("star-empty.png", id: "star_5", alt: "5"), grading_path(5,@recipe.id), remote: true
						%p#mark= render "grades/average"
						%p
							= image_tag("clock.png", id: "clock", alt: "clock", title: "Время приготовления блюда")
							= " #{@recipe.prepare} минут"
				.row
					.col-sm-6.col-sm-push-6
						%h4= "Ингредиенты (кол-во порций - #{@recipe.portions})"
						%ul
							- @list.each do |x|
								%li= "#{x.ingridient.name} - #{x.quantity} #{x.measure.name}"
					.col-sm-6.col-sm-pull-6
						%h4 Способ приготовления
						%p= @recipe.steps
				- if current_user
					.row
						.col-sm-10.col-md-12.col-sm-offset-1.col-md-offset-0
							%p= button_to "Добавить в корзину", positions_path(recipe_id: @recipe), class: "btn btn-success", remote: true
			.comment_block
				.row
					.col-md-6.user_comment
						= simple_form_for @comment, remote: true do |f|
							= f.hidden_field :recipe_id, value: "#{@recipe.id}"
							= f.input :body, label: 'Ваш комментарий'
							.actions
								- if current_user
									= f.button :submit, id: "add_comment", class: "btn btn-success disabled", value: 'Добавить комментарий'
								- else
									= f.button :submit, class: "btn btn-default", value: 'Добавить комментарий', type: 'button', title: 'Необходимо войти под своим логином', data: {toggle: 'tooltip', placement: 'bottom'}
				.row#comments= render "comments"