= render partial: "navs"
.container
  .row
    = render partial: "add_recipe"
    .col-md-10
      %h2= @recipe.name
      .recipe_block
        .row
          .col-md-4
            = image_tag @recipe.image.normal, class: "img-responsive", alt: @recipe.name
          .col-md-8
            %p= @recipe.caption
            %p= link_to @recipe.category.caption, '/catalog/category/'+@recipe.category.name
            %p= link_to @recipe.country.caption + " кухня", '/catalog/kitchen/'+@recipe.country.name
        .row
          .col-xs-12
            %h4= "Ингридиенты (кол-во порций - #{@recipe.portions})"
            %ul
              - @list.each do |x|
                %li= "#{x.ingridient.name} - #{x.quantity} #{x.measure.name}"
          .col-xs-12
            %p= "Время приготовления (минут) - #{@recipe.prepare}"
          .col-xs-12
            %h4 Способ приготовления
            %p= @recipe.steps
      .stars_block
        .row
          .col-xs-12
            %p Средняя оценка рецепта - столько-то
            #Rate
              Оцените рецепт
              %p= link_to image_tag("star-empty.png", id: "star_1", alt: "1"), grading_path(1,current_user.id,@recipe.id), remote: true
              %p= link_to image_tag("star-empty.png", id: "star_2", alt: "2"), grading_path(2,current_user.id,@recipe.id), remote: true
              %p= link_to image_tag("star-empty.png", id: "star_3", alt: "3"), grading_path(3,current_user.id,@recipe.id), remote: true
              %p= link_to image_tag("star-empty.png", id: "star_4", alt: "4"), grading_path(4,current_user.id,@recipe.id), remote: true
              %p= link_to image_tag("star-empty.png", id: "star_5", alt: "5"), grading_path(5,current_user.id,@recipe.id), remote: true
      .comment_block
        .row
          .col-md-6.user_comment
            = simple_form_for @comment, remote: true do |f|
              - if current_user
                = f.hidden_field :user_id, value: "#{current_user.id}"
              = f.hidden_field :recipe_id, value: "#{@recipe.id}"
              = f.input :body, label: 'Ваш комментарий'
              .actions
                - if current_user
                  = f.button :submit, id: "add_comment", class: "btn btn-success disabled", value: 'Добавить комментарий'
                - else
                  = f.button :submit, class: "btn btn-default", value: 'Добавить комментарий', type: 'button', title: 'Необходимо войти под своим логином', data: {toggle: 'tooltip', placement: 'bottom'}
        .row#comments
          = render partial: "comments"